<section id="products" class="container">
  <h1>All products</h1>

  {{#each products}}
    <div class="product">

      <div class="edit-container">
        <h3>{{name}}</h3>
        <div class="edit-buttons-container">
          <form method="post" style="margin-bottom: 0;">
            <input class="invisible" type="text" name="id" value={{id}} />
            <button class="edit-buttons" formaction="/products/edit">
              <i class="fas fa-edit"></i>
            </button>
            <button class="edit-buttons" formaction="/products/delete">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </div>
      </div>

      <p>{{description}}</p>
      Contains:
      <ul>
        <li>Proteins: {{proteins}} g</li>
        <li>Fats: {{fats}} g</li>
        <li>Carbohydrates: {{carbohydrates}} g</li>
      </ul>
      <div class="calories">
        <small>Contains: <span>{{calories}}</span> cals</small>
      </div>
    </div>
  {{else}}
    <p>No products available</p>
  {{/each}}

</section>